
<div class="banner">
  <div class="d-flex flex-column align-items-center">
    <h1>V-Cocktails</h1>
    <h4>get inspired and create your own non-alcoholic cocktail</h4>
    <%= link_to "Add a new cocktail", new_cocktail_path(@cocktail), class: 'btn-ghost' %>
    <!-- <a class="btn btn-ghost" href="#">Add a new cocktail</a> -->
  </div>
</div>

<!-- display list of cocktails -->

<div class="card-container d-flex flex-wrap flex-row justify-content-center">
  <% @cocktails.each do |cocktail| %>
    <div class="card d-flex flex-column align-items-center mb-4 mb-md-4">
      <%= image_tag image_url('pina_colada.jpg'), class: 'card-img-top rounded-top' %>
      <div class="card-body">
        <h4 class="card-title"><%= cocktail.name %></h4>
        <%= link_to "Explore", cocktail_path(cocktail), class: 'btn-card' %>
      </div>
    </div>
  <% end %>
</div>

