
<div class="banner">
  <div class="container d-flex flex-column align-items-center">
    <h1>V-Cocktails</h1>
    <h4>get inspired and create your own non-alcoholic cocktail</h4>
    <%= link_to "Add a new cocktail", new_cocktail_path(@cocktail), class: 'btn-ghost' %>
    <!-- <a class="btn btn-ghost" href="#">Add a new cocktail</a> -->
  </div>
</div>

<!-- display list of cocktails -->
<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>

