.form-background {
  border-radius: 5px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('cocktail.jpg');
  background-size: cover;
  background-position: center;
  // padding: 150px;
  // padding: 0px;
}

.form-group {
  // padding: 150px;
  margin: 50px 0;
  // margin: 0px;
  color: white;
}
